figure, figure.pull-right, figure.pull-left {
    margin: 1em 0em;
}

figure, figure img {
    width:100%;
    height:auto;
}

.node-uaqs-flexible-page.view-mode-full div:nth-of-type(1) {
    margin-top: 0;
}

.node-uaqs_flexible_page-form .field-type-paragraphs tr.odd .form-item,
.node-uaqs_flexible_page-form .field-type-paragraphs tr.even .form-item {
  white-space: normal;
}

@media(min-width:768px) {
    figure.pull-left {
        margin: 0.5em 1em 0.5em 0em;
        max-width: 33%;
    }
    figure.pull-right {
        margin: 0.5em 0em 0.5em 1em;
        max-width: 33%;
    }
}
